/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GENERAL STYLES */
html {
  font-size: 1rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-align: left;
  margin: 0px;
  background-color: black;
}

a {
  color: wheat;
}

p {
  margin-bottom: 10px;
}

.dark-palette a {
  color: black;
}

h1 {
  font-weight: 500;
  color: #e7e5cb;
  line-height: 43px;
  font-size: 1.38em;
  font-weight: 600;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

h3 {
  padding-top: 25px;
  padding-bottom: 15px;
}

h4 {
  padding-top: 5px;
  text-align: center;
}

img {
  width: 100%;
}

.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: black;
}

.dark-palette .content-wrapper {
  background-color: antiquewhite;
}

.dark-palette {
  color: black;
  background-color: antiquewhite;
  font-weight: 400;
}

.dark-palette #projects {
  background-color: lightgoldenrodyellow;
  color: black;
  margin: 10px;
  padding: 12px;
}

.dark-palette .header {
  margin: 10px;
  padding: 6px;
  background-color: lightgoldenrodyellow;
}

.dark-palette #dropdownbutton {
  background-color: grey;
  color: wheat;
  width: 58px;
}

.dark-palette h1 {
  color: black;
  font-weight: 600;
}

.skill-list-item img {
  width: 60px;
}

.dark-palette .about-content-wrapper p {
  margin: 25px;
  padding: 6px;
  text-align: center;
}

.dark-palette h4 {
  text-align: center;
}

.project-list-item img {
  width: 100%;
  object-fit: contain;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.dark-palette .project-list-item img {
  height: 96%;
  width: 97%;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.project-list img {
  border: 4px solid silver;
}

/* END GENERAL STYLES  */

/* HEADER STYLES  */
header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 25px 10px;
  background-color: black;
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row;
  width: -webkit-fill-available;
}

/* DROPDOWN SECTION  */
.dropdownbutton:hover,
.dropdownbutton:focus {
  background-color: #442f28;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: lightgoldenrodyellow;
  min-width: 86px;
  max-height: 145px;
  z-index: 1;
  padding: 5px;
  overflow: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  justify-items: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-content a :hover {
  background-color: yellow;
}

.show {
  display: block;
}

.dropdown button {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  width: 60px;
  background-color: wheat;
  margin-bottom: 6px;
}

/* END DROP DOWN SECTION  */

/* LIGHT DARK THEME SECTION  */

.highlightSpan {
  cursor: zoom-in;
  background: linear-gradient(145deg, #2a2a2a, #383838);
  border: 2px solid #3f51b5;
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

.dark-palette .highlightSpan {
  cursor: zoom-in;
  background: linear-gradient(145deg, #a588c3, #b2e76d);
  border: 2px solid #3f51b5;
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

.switch-container {
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  display: flex;
  align-items: center;
}

.switch-container p {
  padding: 0 1em;
}

.switch-container input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 27px;
  background-color: #7b7f80;
  border-radius: 34px;
}

.dark-palette .switch {
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  display: none;
  position: absolute;
}

.icon.moon {
  display: inline;
  font-size: 20px;
}

.dark-palette .icon.moon {
  display: none;
}

.dark-palette .icon.sun {
  display: inline;
}

.ball {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: midnightblue;
}

.dark-palette .ball {
  position: relative;
  height: 26px;
  width: 26px;
  left: 30px;
  bottom: 0px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s ease-in;
}

.ball-move-right {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}
/* END LIGHT DARK THEME SECTION  */

/* END HEADER STYLES */

/* ------------------------ */

/* MAIN STYLES  */

/* ABOUT SECTION SECTION  */

#about {
  background-color: #152a3e;
  padding: 20px;
  color: wheat;
  padding-bottom: 50px;
  text-align: center;
}

.about-header {
  padding: 40px 5px 10px 0px;
}

/* END ABOUT SECTION  */

/* BEGIN PROJECT SECTION  */

.project-header {
  padding: 40px 5px 10px 0px;
}

#projects {
  background-color: black;
  padding: 20px;
  color: wheat;
  margin: 0;
}

.project-list span {
  display: flex;
  color: darkorange;
  border: 2px ridge wheat;
  padding: 7px;
  margin: 5px 1px 10px 0px;
  border-radius: 30px;
  width: fit-content;
}

.dark-palette .project-list span {
  color: #453715;
  border: 3px dotted firebrick;
  margin: 1px;
  margin: 1px 0px 5px 0px;
  border-radius: 30px;
}

.project-list-item figure {
  width: 300px;
  margin: 0 auto 10px;
  overflow: hidden;
}

.project-list-item figure img {
  width: 97%;
  object-fit: contain;
  display: block;
}

/* END PROJECT SECTION  */

/* BEGIN SKILLS SECTION  */

.skill-header {
  padding: 40px 10px 2px 10px;
}

.skill-content-wrapper {
  background-color: red;
  padding: 1px;
  margin-bottom: 10px;
}

#skills {
  background-color: red;
  padding: 1px;
  margin: 3px;
}

.skill-list-item {
  width: min-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.skill-images {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-flow: column;
  align-items: center;
}

/* END SKILLS SECTION  */

/* BEGIN FOOTER SECTION  */

.socmed-subheader {
  padding: 40px 10px 7px 0;
  margin-left: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #f7e8e8;
  margin: 3px;
}

footer .contact-header {
  padding-top: 40px;
  font-size: 2rem;
}

form {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: auto;
}

/* ABOUT PAGE  */

#ul-img {
  list-style: none;
  padding: 0;
  margin-top: 35px;
  display: flex;
  gap: 40px;
  margin-bottom: 15px;
  align-items: self-end;
  justify-content: center;
}

#ul-img li {
  display: inline-block;
}

#ul-img img {
  width: 35px;
  height: auto;
  transition: transform 0.2s;
}

.avatar img {
  border-radius: 50%;
  height: 190px;
  width: 190px;
}

.avatar-img {
  display: flex;
  margin: 60px 0 20px;
  justify-content: center;
}

/* END FOOTER SECTION  */

/* END MAIN STYLES  */

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* TABLET STYLES SECTION  */

@media screen and (min-width: 768px) {
  #about p {
    width: 50%;
  }

  .about-content-wrapper {
    display: flex;
    gap: 6%;
    margin: 30px 5px 5px 20px;
    line-height: 1.7em;
  }

  h1 {
    font-size: 1.5em;
  }

  .header-content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  /* END HEADER STYLES */

  /* ABOUT SECTION SECTION  */

  .about-header {
    font-size: 2.5em;
  }

  #about {
    background-color: #152a3e;
    padding: 5px 30px 30px;
    color: wheat;
    margin: 1px;
  }
  /* END ABOUT SECTION  */

  /* BEGIN PROJECT SECTION  */

  .project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    gap: 10%;
    width: -webkit-fill-available;
    padding-bottom: 20px;
  }

  .dark-palette .project-list-item img {
    width: 90%;
  }

  .project-list-item {
    width: 260px;
    margin: 0 18px;
  }

  .project-list-item figure img {
    width: 95%;
  }

  .project-list img {
    /* height: 230px; */
    object-fit: contain;
  }

  .project-list p {
    width: 300px;
  }
  /* END PROJECT SECTION  */

  /* BEGIN SKILLS SECTION  */

  h4 {
    padding-bottom: 20px;
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .skill-content-wrapper {
    padding: 20px;
    color: wheat;
    background-color: red;
  }

  .skill-header {
    font-size: 2.5em;
  }

  .skill-list-item {
    width: 15%;
    display: flex;
    gap: inherit;
    flex-flow: wrap;
    margin: auto;
  }

  .skill-images {
    justify-content: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    gap: 15%;
  }

  .skill-list-item img {
    width: 60%;
  }

  /* END TABLET SKILLS SECTION  */

  /* BEGIN TABLET FOOTER SECTION  */

  .socmed-subheader {
    margin-left: 25%;
    font-size: 1.25em;
  }

  .footer-content-wrapper {
    margin: 6px;
  }

  footer .contact-header {
    font-size: 2em;
  }

  .avatar img {
    border-radius: 50%;
    height: 225px;
    width: 225px;
  }

  .avatar-img {
    display: flex;
    margin: 60px 0 20px;
    justify-content: center;
  }

  #ul-img {
    gap: 45px;
  }
}

/* <!-- END TABLET MEDIA QUERY --> */

/* <!-- BEGIN LAPTOP MEDIA QUERY  --> */

@media only screen and (min-width: 1200px) {
  h3 {
    margin-left: 5px;
  }

  #about {
    margin: 1px;
  }

  .about-content-wrapper {
    display: inline-flex;
    margin: auto;
    width: 80%;
    text-align: left;
    line-height: 1.75em;
  }

  .project-list {
    justify-content: flex-end;
    width: 89%;
  }

  .project-list-item {
    margin: 0;
  }

  .project-list img {
    object-fit: contain;
  }

  .project-list p {
    width: 300px;
  }

  /* PORTFOLIO VISIT BUTTON  */
  .portfolio-btn {
    display: inline-block;
    font-size: 1rem;
  }

  .portfolio-btn:hover {
    background-color: #303f9f;
    transform: scale(1.05);
  }

  .skill-content-wrapper {
    margin: 25px;
  }

  .footer-content-wrapper {
    margin: 6px;
  }

  .skill-images {
    display: flex;
    align-items: baseline;
    flex-flow: wrap;
    width: 80%;
    margin: auto;
  }

  /* ABOUT PAGE  */

  #ul-img {
    width: fit-content;
    display: flex;
    list-style: none;
    gap: 60px;
    margin-left: 79px;
    margin: auto;
    padding-bottom: 15px;
  }
}

/* <!-- END LAPTOP MEDIA QUERY  --> */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
