* {
  /* box-sizing: border-box; */
}

.dark-palette {
  background-color: #d8d412;
  color: lightgreen;
  font-weight: 100;
}

.light-mode {
  color: rgb(12, 57, 171);
  background-color: wheat;
}

.dark-mode {
  color: rgb(178, 11, 11);
}
